---
import "../styles/main.css";
import "../styles/fonts.css";
import "../styles/buttons.css";
import i18next, { t } from "i18next";
import pageInfo from "../../configuration/metadata/page-info.json";
import companyInfo from "../../configuration/metadata/company-info.json";
import Header from '../components/Header/Header.astro';
import Footer from "../components/Footer.astro";
import ContactBar from "../components/ContactBar.astro";
---

<!doctype html>
<html lang={i18next.language} class="text-primary">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("page-title")}</title>
    <meta property="og:title" content={pageInfo.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageInfo.url} />
    <meta property="og:description" content={pageInfo.description} />
    <meta property="og:image" content={pageInfo.openGraph.image} />
    <meta property="og:image:alt" content={pageInfo.openGraph.imageAlt} />
    <meta name="og:email" content={companyInfo.email} />
    <meta name="og:phone_number" content={companyInfo.phoneNumber} />
    <meta name="description" content={pageInfo.description} />
  </head>
  <body>
    <ContactBar />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
